/* PARAMETROS GENERALES */
* {
  padding: 0;
  margin: 0;
}

/* CONFIGURACIÓN DEL INDEX */
.logoModif {
  position: absolute;
  z-index: 100;
  padding-left: 1.25rem;
  top: 0;
}

.videoContainer {
  position: fixed;
  z-index: -1;
}

.navModif {
  margin-left: 1.56rem;
  font-size: 1.05rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: end;
}

/* TITULOS SECUNDARIOS EN LAS DIFERENTES PAGINAS*/
.titulo {
  color: firebrick;
  font-family: "Shadows Into Light", cursive;
  font-size: 4rem;
  text-align: center;
  padding: 50px 0px 15px 0px;
}

/* PARRAFOS */
.parrafo {
  color: black;
  text-align: center;
  padding: 20px 0 25px 0;
  font-family: "Reem Kufi", sans-serif;
  font-size: 1.2rem;
}

.flexModifAloj {
  padding-bottom: 20px;
}

.boxSemana {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 30rem;
  height: 15rem;
  padding: 15px 0 0 20px;
  h6 {
    font-family: "Shadows Into Light", cursive;
    font-size: 1.5rem;
  }
  p,
  ul {
    font-family: "Reem Kufi", sans-serif;
    font-size: 1.05rem;
  }
}

.boxSemana:hover {
  box-shadow: 0 4px 8px 0 peru, 0 6px 20px 0 peru;
  h6 {
    color: firebrick;
  }
}

.boxFinDeSemana {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 30rem;
  height: 15rem;
  padding: 15px 0 0 20px;
  h6 {
    font-family: "Shadows Into Light", cursive;
    font-size: 1.5rem;
  }
  p,
  ul {
    font-family: "Reem Kufi", sans-serif;
    font-size: 1.05rem;
  }
}

.boxFinDeSemana:hover {
  box-shadow: 0 4px 8px 0 peru, 0 6px 20px 0 peru;
  h6 {
    color: firebrick;
  }
}

.flexModifServ {
  padding-top: 20px;
  font-family: "Reem Kufi", sans-serif;
  flex-direction: column;
}

.iconModif1 {
  padding: 0 0 20px 35px;
}

.iconModif1:hover {
  color: dodgerblue;
}

.iconModif2 {
  padding: 0 0 20px 35px;
}

.iconModif2:hover {
  color: lightslategrey;
}

.iconModif3 {
  padding: 0 0 20px 35px;
}

.iconModif3:hover {
  color: red;
}

.boxServicios ul li {
  list-style-type: none;
}

.textHabitaciones {
  h5 {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    padding-bottom: 40px;
  }
  p {
    padding: 50px 0 15px 0;
    margin: 0;
  }
}

.flexGaleria {
  flex-wrap: wrap;
  .imagenModif {
    margin: 20px 0 20px 0;
    transition: all 1s;
  }
  .imagenModif:hover {
    transform: scale(1.2);
  }
}

.flexContacto {
  margin: 20px 0 20px 0;
  padding: 0 20px 0 20px;
  .infoAdicional {
    margin: 0 15px 0 15px;
    h5 {
      font-size: 1.3rem;
      font-family: "Reem Kufi", sans-serif;
    }
    p {
      font-family: "Reem Kufi", sans-serif;
      font-size: 1.1rem;
    }
    .iconoRedesSoc {
      .iconoInsta {
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .iconoFace {
        color: blue;
      }
      .iconoWhatsapp {
        color: green;
      }
    }
  }
}

.footerModif {
  background-color: #87441b;
  position: absolute;
  width: 100%;
  padding: 10px 0 10px 0;
  margin-top: 20px;
  .footText1 {
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .footText2 {
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
}

/* MEDIA QUERYS*/
@media (min-aspect-ratio: 16/9) {
  .videoContainer {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .videoContainer {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 575px) {
  .logoModif img {
    width: 8.37rem;
    height: 4.37rem;
  }
  .navModif {
    margin: 0;
    font-size: 0.9rem;
  }
  .titulo {
    font-size: 2.5rem;
    padding-top: 40px;
  }
  .parrafo {
    font-size: 1rem;
  }
  .flexModifAloj {
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
  }
  .boxSemana {
    width: 15rem;
    height: 15rem;
    padding: 5px 0 0 10px;
    h6 {
      font-size: 1.15rem;
      padding-top: 5px;
    }
    p,
    ul {
      font-size: 0.85rem;
    }
  }
  .boxFinDeSemana {
    width: 15rem;
    height: 15rem;
    padding: 5px 0 0 10px;
    h6 {
      font-size: 1.15rem;
      padding-top: 5px;
    }
    p,
    ul {
      font-size: 0.85rem;
    }
  }
  .flexModifServ {
    width: 10rem;
    height: 16rem;
    font-size: 0.85rem;
    .iconModif1,
    .iconModif2,
    .iconModif3 {
      padding: 0 0 10px 40px;
    }
    ul {
      padding: 0 0 0 40px;
    }
  }
  .flexMediaqAloj {
    flex-direction: column;
    align-items: center;
  }
  .textHabitaciones {
    h5 {
      font-size: 1.1rem;
    }
  }
  .flexGaleria {
    flex-direction: column;
    align-items: center;
    .imagenModif img {
      margin: 10px 0 5px 0;
      width: 20rem;
      height: 12rem;
    }
    .imagenModif:hover {
      transform: scale(1.1);
    }
  }
  .flexContacto {
    flex-direction: column;
    align-items: center;
    iframe {
      width: 20rem;
      height: 20rem;
    }
    .infoAdicional {
      text-align: center;
      margin-top: 35px;
      h5 {
        font-size: 1.1rem;
        font-family: "Reem Kufi", sans-serif;
      }
      p {
        font-size: 0.85rem;
        font-family: "Reem Kufi", sans-serif;
        padding: 0 10px 0 10px;
      }
      .iconoRedesSoc {
        padding: 0 10px 0 10px;
      }
    }
  }
  .footerModif {
    flex-wrap: wrap;
    padding: 5px 0 0 0;
    .footText1 {
      p {
        font-size: 0.8rem;
      }
    }
    .footText2 {
      p {
        font-size: 0.8rem;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .logoModif img {
    width: 8.37rem;
    height: 4.37rem;
  }
  .navModif {
    margin: 0;
    font-size: 0.9rem;
  }
  .titulo {
    font-size: 2.5rem;
    padding-top: 40px;
  }
  .parrafo {
    font-size: 1rem;
  }
  .flexModifAloj {
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
  }
  .boxSemana {
    width: 15rem;
    height: 15rem;
    padding: 5px 0 0 10px;
    h6 {
      font-size: 1.15rem;
      padding-top: 5px;
    }
    p,
    ul {
      font-size: 0.85rem;
    }
  }
  .boxFinDeSemana {
    width: 15rem;
    height: 15rem;
    padding: 5px 0 0 10px;
    h6 {
      font-size: 1.15rem;
      padding-top: 5px;
    }
    p,
    ul {
      font-size: 0.85rem;
    }
  }
  .flexModifServ {
    width: 10rem;
    height: 16rem;
    font-size: 0.85rem;
    .iconModif1,
    .iconModif2,
    .iconModif3 {
      padding: 0 0 10px 40px;
    }
    ul {
      padding: 0 0 0 40px;
    }
  }
  .flexMediaqAloj {
    flex-direction: column;
    align-items: center;
  }
  .textHabitaciones {
    h5 {
      font-size: 1.1rem;
    }
  }
  .flexGaleria {
    flex-direction: column;
    align-items: center;
    .imagenModif img {
      margin: 10px 0 5px 0;
      width: 20rem;
      height: 12rem;
    }
    .imagenModif:hover {
      transform: scale(1.1);
    }
  }
  .flexContacto {
    flex-direction: column;
    align-items: center;
    iframe {
      width: 20rem;
      height: 20rem;
    }
    .infoAdicional {
      text-align: center;
      margin-top: 35px;
      h5 {
        font-size: 1.1rem;
        font-family: "Reem Kufi", sans-serif;
      }
      p {
        font-size: 0.85rem;
        font-family: "Reem Kufi", sans-serif;
        padding: 0 10px 0 10px;
      }
      .iconoRedesSoc {
        padding: 0 10px 0 10px;
      }
    }
  }
  .footerModif {
    flex-wrap: wrap;
    padding: 5px 0 0 0;
    .footText1 {
      p {
        font-size: 0.8rem;
      }
    }
    .footText2 {
      p {
        font-size: 0.8rem;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .logoModif img {
    width: 10.5rem;
    height: 5.31rem;
  }
  .navModif {
    margin: 0;
    font-size: 1.03rem;
  }
  .titulo {
    font-size: 3.2rem;
  }
  .parrafo {
    font-size: 1.1rem;
  }
  .flexModifAloj {
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
  }
  .boxSemana {
    width: 28.5rem;
    height: 13rem;
    padding: 5px 0 0 10px;
    h6 {
      font-size: 1.3rem;
      padding-top: 5px;
    }
    p,
    ul {
      font-size: 0.95rem;
    }
  }
  .boxFinDeSemana {
    width: 28.5rem;
    height: 13rem;
    padding: 5px 0 0 10px;
    h6 {
      font-size: 1.3rem;
      padding-top: 5px;
    }
    p,
    ul {
      font-size: 0.95rem;
    }
  }
  .flexModifServ {
    font-size: 0.95rem;
  }
  .textHabitaciones {
    h5 {
      font-size: 1.3rem;
    }
  }
  .flexGaleria {
    flex-wrap: wrap;
    .imagenModif img {
      width: 23.75rem;
      height: 15.8rem;
    }
    .imagenModif:hover {
      transform: scale(1.1);
    }
  }
  .flexContacto {
    flex-direction: column;
    align-items: center;
    iframe {
      width: 30rem;
      height: 30rem;
    }
    .infoAdicional {
      text-align: center;
      margin-top: 35px;
      h5 {
        font-size: 1.2rem;
        font-family: "Reem Kufi", sans-serif;
      }
      p {
        font-size: 0.95rem;
        font-family: "Reem Kufi", sans-serif;
        padding: 0 10px 0 10px;
      }
      .iconoRedesSoc {
        padding: 0 10px 0 10px;
      }
    }
  }
  .footerModif {
    flex-wrap: wrap;
    padding: 5px 0 0 0;
    .footText1 {
      p {
        font-size: 0.9rem;
      }
    }
    .footText2 {
      p {
        font-size: 0.9rem;
      }
    }
  }
}